.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.navbar .navbar-brand img {
    height: 100px;
} 
.hello {
    size: 50px;
}
#color1 {
    color: lightblue
}
